@page "/checklists"
@inject HttpClient Http

<h1>Checklists</h1>

@if (checklists == null)
{
    <p><em>There are no checklists</em></p>
}
else
{
    <div class="container">
        <div class="row">

            @foreach (var checklist in checklists)
            {
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/img_placeholder.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@checklist.Name</h5>
                            <p class="card-text">Category: @checklist.Category</p>
                            <a href="/checklist/@checklist.Id" class="btn btn-primary">View Checklist</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}


@code {
    private Checklist[] checklists;
    //private string url;

    protected override async Task OnInitializedAsync()
    {
        // use dummy data for now
        checklists = await Http.GetFromJsonAsync<Checklist[]>("sample-data/checklists.json");

        // call api to get all checklists
        @* url = "https://localhost:4445/api/checklists";
            checklists = await Http.GetFromJsonAsync<Checklist[]>(url); *@
    }

    public class Checklist
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Category { get; set; }
    }
}